.close {
  display: inline-flex;
  width: $close-width;
  height: $close-height;
  @include font-size($close-font-size);
  color: $close-color;
  opacity: .5;

  &::before {
    display: inline-block;
    width: $close-width / 2;
    height: $close-height / 2;
    margin: auto;
    content: "";
    background-color: currentColor;
    clip-path: url("#{escape-svg($close-icon)}#closeIcon");
  }

  // Override <a>'s hover style
  &:hover {
    color: $close-color;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    opacity: .75;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
  }
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

// stylelint-disable-next-line selector-no-qualifying-type
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}
